<% if params["locale"] === "fr" %>
<% langage = :second %>
<% elsif params["locale"] === "en" %>
<% langage = :third %>
<% else %>
<% langage = :third %>
<% end %>

<div class="container ">
  <h2 id='comparaison' class='mb-5 title'>Devis personnalisé</h2>
  <div class="d-flex">
    <div class='w-25'></div>
    <div class='flex-grow-1 small-title'>Devis personnalisé</div>
    <div class='w-33 small-title'>Devis initial</div>
  </div>

  <%# seuil %>
  <div class="d-flex bg-light-turquoise align-items-center border-top">
    <div class='w-25 p-2 sub-title-1'> Seuil d'intervention</div>
    <div class='flex-grow-1 p-2 '><p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.seuil, delimiter: " ") %> €</p></div>
    <div class='w-33 p-2 '><p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.seuil, delimiter: " ") %> €</p></div>
  </div>

  <%# guarantie %>
  <div class="d-flex  align-items-center border-top">
    <div class='w-25 p-2 sub-title-1'>Garantie plancher </div>
    <div class='flex-grow-1 p-2 '>
      <p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.guarantie, delimiter: " ") %> €</p>

    </div>
    <div class='w-33 p-2 '>
      <p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.guarantie, delimiter: " ") %> €</p>

    </div>
  </div>

  <%# guarantie a et b %>
  <div class="d-flex bg-light-turquoise align-items-center border-top">
    <div class='w-25 p-2 sub-title-1'>Garantie Click & Cover </div>

    <div class='flex-grow-1 p-2 '>
      <div class='mb-2'>
        <label for="client-a" class='text-important-bold text-semibold mb-2 pb-0'>Client grade A</label>

        <div class='text-important-bold text-semibold mb-2'>
          <select id='grade_a' name="client-a" id="pet-select" class='w-50 p-2 rounded-2 bg-light-turquoise text-important-bold text-semibold border-light-turquoise'>
              <option value="down"><%= number_with_delimiter(@quote.g_a_down, delimiter: " ") %> €</option>
              <option value="normal" selected><%= number_with_delimiter(@quote.guarantie_a, delimiter: " ") %> €</option>
              <option value="up"><%= number_with_delimiter(@quote.g_a_up, delimiter: " ") %> €</option>
          </select>
        </div>

      </div>
      <div>
        <label for="client-a" class='text-important-bold text-semibold mb-2 pb-0'>Client grade B</label>

        <div class='text-important-bold text-semibold mb-2'>
          <p id='grade_b' class='text-important-bold text-semibold mb-2'
            down='<%= number_with_delimiter(@quote.g_a_down / 2, delimiter: " ") %> €'
            normal='<%= number_with_delimiter(@quote.guarantie_a / 2, delimiter: " ") %> €'
            up='<%= number_with_delimiter(@quote.g_a_up / 2, delimiter: " ") %> €'
          >
            <%= number_with_delimiter(@quote.guarantie_b, delimiter: " ") %> €
          </p>

        </div>
      </div>
    </div>

    <div class='w-33 px-2 pb-2 '>
      <div class='mb-2'>
        <p class='text-important-bold text-semibold mb-2'>Client grade A</p>
        <p class='text-important-bold text-semibold mb-2'><%= number_with_delimiter(@quote.guarantie_a, delimiter: " ") %> €</p>
        <p class='sub-title-1 mb-35'></p>
      </div>
      <div>
        <p class='text-important-bold text-semibold mb-2'>Client grade B</p>
        <p class='text-important-bold text-semibold mb-2'><%= number_with_delimiter(@quote.guarantie_b, delimiter: " ") %> €</p>

      </div>
    </div>
  </div>

  <%# prime %>
  <div class="d-flex  align-items-center border-top">
    <div class='w-25 p-2 sub-title-1'>Prime honoraires annuels H.T. </div>
    <div class='flex-grow-1 p-2 '>
      <p id='prime'class='text-important-bold text-semibold mb-0'
        down='<%= number_with_delimiter(@quote.prime_down, delimiter: " ") %> €'
        normal='<%= number_with_delimiter(@quote.prime, delimiter: " ") %> €'
        up='<%= number_with_delimiter(@quote.prime_up, delimiter: " ") %> €'
      >
        <%= number_with_delimiter(@quote.prime, delimiter: " ") %> €
        </p>
      <p class='sub-title-1'>Sans reconstitution de la garantie plancher</p>
    </div>
    <div class='w-33 p-2 '>
      <p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.prime, delimiter: " ") %> €</p>
      <p class='sub-title-1'>Sans reconstitution de la garantie plancher</p>
    </div>
  </div>

  <%# nombre de consulation %>
  <div class="d-flex  bg-light-turquoise align-items-center border-top">
    <div class='w-25 py-3 pl-2 sub-title-1'>Nombre de consultations Click & Cover </div>
    <div class='flex-grow-1 py-3 pl-2 '>
      <p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.consultation_number, delimiter: " ") %> </p>
    </div>
    <div class='w-33 py-3 pl-2'>
      <p class='text-important-bold text-semibold mb-0'><%= number_with_delimiter(@quote.consultation_number, delimiter: " ") %> </p>
    </div>
  </div>

  <%# reconstitution %>
  <div class="d-flex   align-items-center border-top">
    <div class='w-25 p-2 sub-title-1 d-flex align-items-center justify-content-between'>
      <div class='w-75'>Reconstitution de la garantie plancher</div>
      <div style="margin-top:40px">
        <div class=''>1 fois</div>
        <div style='margin-top:33px;margin-bottom:33px'>2 fois</div>
        <div class=''>3 fois</div>
      </div>

    </div>

    <div class='flex-grow-1 p-2 '>
      <div class='mb-4'>
        <div class=" text-important-bold text-semibold ">
          Prime honoraires annuelle H.T
        </div>
      </div>

      <div class='mb-4'>
        <div class="d-flex  mt-4">
          <div class=' custom-checkbox-circle'>
            <div>
            </div>
          </div>
          <div>
            <p id='r_1'class='text-important-bold text-semibold ml-4 mb-0'
              down='<%= number_with_delimiter(@quote.r_1_down, delimiter: " ") %> €'
              normal='<%= number_with_delimiter(@quote.reconstitution_1, delimiter: " ") %> €'
              up='<%= number_with_delimiter(@quote.r_1_up, delimiter: " ") %> €'
            >
              <%= number_with_delimiter(@quote.reconstitution_1, delimiter: " ") %> €
            </p>
            <p class='sub-title-1 ml-4'></p>
          </div>
        </div>
      </div>

      <div class='mb-4'>
        <div class="d-flex  mt-4">
          <div class=' custom-checkbox-circle'>
            <div>
            </div>
          </div>
          <div>
            <p id='r_2'class='text-important-bold text-semibold ml-4 mb-0'
              down='<%= number_with_delimiter(@quote.r_2_down, delimiter: " ") %> €'
              normal='<%= number_with_delimiter(@quote.reconstitution_2, delimiter: " ") %> €'
              up='<%= number_with_delimiter(@quote.r_1_up, delimiter: " ") %> €'
            >
              <%= number_with_delimiter(@quote.reconstitution_2, delimiter: " ") %> €
            </p>
            <p class='sub-title-1 ml-4'></p>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex  mt-4">
          <div class=' custom-checkbox-circle'>
            <div>
            </div>
          </div>
          <div>
            <p id='r_3'class='text-important-bold text-semibold ml-4 mb-0'
              down='<%= number_with_delimiter(@quote.r_3_down, delimiter: " ") %> €'
              normal='<%= number_with_delimiter(@quote.reconstitution_3, delimiter: " ") %> €'
              up='<%= number_with_delimiter(@quote.r_3_up, delimiter: " ") %> €'
            >
              <%= number_with_delimiter(@quote.reconstitution_3, delimiter: " ") %> €
            </p>
            <p class='sub-title-1 ml-4'></p>
          </div>
        </div>
      </div>
    </div>

    <div class='w-33 p-2 '>
      <div class='mb-4'>
        <div class='mb-4'>
          <div class=" text-important-bold text-semibold ">
            Prime honoraires annuels H.T.
          </div>
        </div>
        <div class="d-flex  mt-4">
          <div class=' custom-checkbox-circle'>
            <div>
            </div>
          </div>
          <div>
            <p class='text-important-bold text-semibold ml-4 mb-0'  >
              <%= number_with_delimiter(@quote.reconstitution_1, delimiter: " ") %> €
            </p>
            <p class='sub-title-1 ml-4'></p>
          </div>
        </div>
      </div>
      <div class='mb-4'>
        <div class="d-flex  mt-4">
          <div class=' custom-checkbox-circle'>
            <div>
            </div>
          </div>
          <div>
            <p class='text-important-bold text-semibold ml-4 mb-0'  >
              <%= number_with_delimiter(@quote.reconstitution_2, delimiter: " ") %> €
            </p>
            <p class='sub-title-1 ml-4'></p>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex  mt-4">
          <div class=' custom-checkbox-circle'>
            <div>
            </div>
          </div>
          <div>
            <p class='text-important-bold text-semibold ml-4 mb-0'  >
              <%= number_with_delimiter(@quote.reconstitution_3, delimiter: " ") %> €
            </p>
            <p class='sub-title-1 ml-4'></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex  align-items-center border-top">
    <div class='w-25 p-2 sub-title-1'>
      <%= link_to  root_path do %>
        <div class='btn btn-danger button-250 d-flex '>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M14 11V17" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 11V17" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <div class='ml-4'>
            Annuler
          </div>
        </div>
      <% end %>
    </div>
    <div class='flex-grow-1 p-2 '>
      <%= link_to signature_quote_path(id: @quote.id ), target:'_blank', id: 'customQuote' do %>
        <div class='btn btn-primary w-100' >
          Acheter
        </div>
      <% end %>
    </div>
    <div class='w-33 p-2 '>
      <%= link_to signature_quote_path(id: @quote.id ) , target:'_blank', id: 'normalQuote' do %>
        <div class='btn btn-primary w-100' >
          Acheter
        </div>
      <% end %>
    </div>
  </div>


</div>
