<% if params["locale"] === "fr" %>
<% langage = :second %>
<% elsif params["locale"] === "en" %>
<% langage = :third %>
<% else %>
<% langage = :third %>
<% end %>

<div class="container container-custom">
  <div class="title mt-4">
    <h2>Policy Electronical Signature </h2>
    <h3>Please fully confirm the corporate officer entitled to bind and sign the Insuretrade policy</h3>
  </div>
  <div>
    <p class='mb-0'><span class="text-bold text-dark-blue" >position: </span> <%= @customer.primary_contacts.first.position %></p>
    <p class='mb-0'><span class="text-bold text-dark-blue">last_name: </span> <%= @customer.primary_contacts.first.last_name %></p>
    <p class='mb-0'><span class="text-bold text-dark-blue">first_name: </span> <%= @customer.primary_contacts.first.first_name %></p>
    <p class='mb-0'><span class="text-bold text-dark-blue">mail: </span> <%= @customer.primary_contacts.first.email %></p>
    <p class='mb-0'><span class="text-bold text-dark-blue">phone: </span> <%= @customer.primary_contacts.first.tel %></p>
    <p class="mt-4">
      I declare to be duly entitled for signing the InsureTrade insurance policy on behalf of the
      company………
    </p>
    <p class="mt-2">
      We declare that the information electronically given on InsureTrade pricing web platform is, to the best
      of our knowledge and belief, correct and that we are not aware of any circumstances that we have not
      disclosed to InsureTrade, which might influence the underwriter’s assessment of and willingness to
      accept the risk.
    </p>
    <p class="mt-2">
      We agree that these given information shall form the basis of and be incorporated in the InsureTrade
      policy.
    </p>
    <p class="mt-2 text-bold text-dark-blue">
      The following shall be electronically signed with the full policy documentation at time of
      binding.
    </p>


    <div class="signature-box mt-4 mb-2">
      <div class="d-flex gap-4 align-items-stretch">

        <div class="mr-4 w-50">
          <label class="mb-2 d-block">Signature</label>
          <div class="signature-area"></div>

        </div>
      </div>
    </div>

<div class="d-flex">
  <div>
      <p class="mt-2">
        Policy documentation
      </p>
    <ul>
      <li>Declarations</li>
      <li>Policy Wording</li>
      <li>Bank debit authorization</li>
      <li>Insured Declarations</li>
      <li>Questionnaire</li>
      <li>NBI</li>
    </ul>
  </div>
  <div class='d-flex align-middle mt-2'>
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.8818 12.5049C11.6377 11.7236 11.6426 10.2148 11.7842 10.2148C12.1943 10.2148 12.1553 12.0166 11.8818 12.5049ZM11.7988 14.8096C11.4229 15.7959 10.9541 16.9238 10.4121 17.8711C11.3057 17.5293 12.3164 17.0312 13.4834 16.8018C12.8633 16.333 12.2676 15.6592 11.7988 14.8096ZM7.2041 20.9033C7.2041 20.9424 7.84863 20.6396 8.9082 18.9404C8.58105 19.248 7.4873 20.1367 7.2041 20.9033ZM15.1094 7.8125H21.75V23.8281C21.75 24.4775 21.2275 25 20.5781 25H4.17188C3.52246 25 3 24.4775 3 23.8281V1.17188C3 0.522461 3.52246 0 4.17188 0H13.9375V6.64062C13.9375 7.28516 14.4648 7.8125 15.1094 7.8125ZM14.7188 16.2012C13.7422 15.6055 13.0928 14.7852 12.6338 13.5742C12.8535 12.6709 13.2002 11.2988 12.9365 10.4395C12.707 9.00391 10.8662 9.14551 10.6025 10.1074C10.3584 11.001 10.583 12.2607 10.998 13.8672C10.4316 15.2148 9.59668 17.0215 9.00586 18.0566C9.00098 18.0566 9.00098 18.0615 8.99609 18.0615C7.67285 18.7402 5.40234 20.2344 6.33496 21.3818C6.6084 21.7188 7.11621 21.8701 7.38477 21.8701C8.25879 21.8701 9.12793 20.9912 10.3682 18.8525C11.6279 18.4375 13.0098 17.9199 14.2256 17.7197C15.2852 18.2959 16.5254 18.6719 17.3506 18.6719C18.7764 18.6719 18.874 17.1094 18.3125 16.5527C17.6338 15.8887 15.6611 16.0791 14.7188 16.2012ZM21.4082 5.12695L16.623 0.341797C16.4033 0.12207 16.1055 0 15.793 0H15.5V6.25H21.75V5.95215C21.75 5.64453 21.6279 5.34668 21.4082 5.12695ZM17.79 17.5928C17.9902 17.4609 17.668 17.0117 15.7002 17.1533C17.5117 17.9248 17.79 17.5928 17.79 17.5928Z" fill="#50C0C7"/>
    </svg>
    <p class='text-semi-important ml-2 mb-0'><%=  "#{t 'quote.new.r.p1' }"%></p>
  </div>
</div>



  </div>

  <%= link_to final_1_quotes_path(id: @quote.id ) , id: 'normalQuote' do %>
        <div class='btn btn-primary  mb-4  ' >
          Sign Policy
        </div>
      <% end %>
</div>

