<div class="container">
  <h1 class="text-dark-blue mb-4"><%=  "#{t 'intermediaire_home.title_1' }"%></h1>
  <p>
    <%=  "#{t 'intermediaire_home.p_1' }"%>
  </p>
  <p>
    <%=  "#{t 'intermediaire_home.p_2_1' }"%>
    <span class="text-dark-blue text-bold"> <%=  "#{t 'intermediaire_home.p_2_2' }"%></span>
    <%=  "#{t 'intermediaire_home.p_2_3' }"%>
    <span class="text-dark-blue text-bold"> <%=  "#{t 'intermediaire_home.p_2_4' }"%> </span>
    <%=  "#{t 'intermediaire_home.p_2_5' }"%>
    <span class="text-dark-blue text-bold"> <%=  "#{t 'intermediaire_home.p_2_6' }"%> </span>
    <%=  "#{t 'intermediaire_home.p_2_7' }"%>
    <span class="text-dark-blue text-bold"> <%=  "#{t 'intermediaire_home.p_2_8' }"%></span>
    <%=  "#{t 'intermediaire_home.p_2_9' }"%>
  </p>
  <p>
    <%=  "#{t 'intermediaire_home.p_3_1' }"%>
    <span class="text-dark-blue text-bold"> <%=  "#{t 'intermediaire_home.p_3_2' }"%></span>
  </p>

  <div class="row mt-4">

    <div class="col-12 col-md-6 mt-4">
      <div class="text-white text-bold bg-turquoise px-4 py-2 d-flex justify-content-between rounded-top" data-toggle="collapse" href="#devis" role="button" aria-expanded="false" aria-controls="devis">
        <p class='mb-0'><%=  "#{t 'intermediaire_home.card_t_1' }"%></p>
        <p class='mb-0'>v</p>
      </div>

      <div class="collapse" id="devis">
        <div class="px-4 bg-light-turquoise py-2 rounded-bottom">
          <%=  "#{t 'intermediaire_home.card_p_1' }"%>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-4">
        <div class="text-white text-bold bg-turquoise px-4 py-2 d-flex justify-content-between rounded-top"  data-toggle="collapse" href="#assistance" role="button" aria-expanded="false" aria-controls="assistance">
          <p class='mb-0'><%=  "#{t 'intermediaire_home.card_t_2' }"%></p>
          <p class='mb-0'>v</p>
        </div>
      <div class="collapse" id="assistance">
        <div class="px-4 bg-light-turquoise py-2 rounded-bottom">
          <%=  "#{t 'intermediaire_home.card_p_2' }"%>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <p>
        <div class="text-white text-bold bg-turquoise px-4 py-2 d-flex justify-content-between rounded-top" data-toggle="collapse" href="#gestion" role="button" aria-expanded="false" aria-controls="gestion">
          <p class='mb-0'><%=  "#{t 'intermediaire_home.card_t_3' }"%></p>
          <p class='mb-0'>v</p>
        </div>
      </p>
      <div class="collapse" id="gestion">
        <div class="px-4 bg-light-turquoise py-2 rounded-bottom">
        <%=  "#{t 'intermediaire_home.card_p_3' }"%>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-4">
      <p>
        <div class="text-white text-bold bg-turquoise px-4 py-2 d-flex justify-content-between rounded-top" data-toggle="collapse" href="#accompagnement" role="button" aria-expanded="false" aria-controls="accompagnement">
          <p class='mb-0'><%=  "#{t 'intermediaire_home.card_t_4' }"%></p>
          <p class='mb-0'>v</p>

        </div>
      </p>
      <div class="collapse" id="accompagnement">
        <div class="px-4 bg-light-turquoise py-2 rounded-bottom">
          <p>
            <%=  "#{t 'intermediaire_home.card_p_4_1' }"%>
          </p>
          <p>
            <%=  "#{t 'intermediaire_home.card_p_4_2' }"%>
          </p>
          <p>
            <%=  "#{t 'intermediaire_home.card_p_4_3' }"%>
          </p>
          <p>
            <%=  "#{t 'intermediaire_home.card_p_4_4' }"%>
          </p>
          <p>
            <%=  "#{t 'intermediaire_home.card_p_4_4' }"%>
          </p>

        </div>
      </div>

    </div>
  </div>



</div>
