
<div class="container">
  <%= link_to  :back  do %>
    <div class="d-flex">
      <%= render "shared/svg/fi_arrow-left" %>
      <p class=' ml-2 text-dark-grey font-weight-bold'><%=  "#{t 'sign_up.b1' }"%></p>
    </div>
  <% end %>
  <h2 class="mb-5"><%=  "#{t 'sign_up.h1' }"%></h2>
  <div>
    <div class="d-flex mb-4">
      <div class='text-white bg-dark-blue p-2 rounded-circle d-flex align-items-center justify-content-center' style="width:30px;height:30px;">1</div>
      <div class=' ml-2 text-dark-blue font-weight-bold d-flex align-items-center justify-content-center' ><%=  "#{t 'sign_up.h2_1' }"%></div>
    </div>
    <div class="d-flex align-items-center  mb-4">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label1' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
    <div class="d-flex align-items-center  mb-4">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label2' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
    <div class="d-flex align-items-center  mb-5">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label3' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
  </div>
  <div>
    <div class="d-flex mb-4">
      <div class='text-white bg-dark-blue p-2 rounded-circle d-flex align-items-center justify-content-center' style="width:30px;height:30px;">1</div>
      <div class=' ml-2 text-dark-blue font-weight-bold d-flex align-items-center justify-content-center' ><%=  "#{t 'sign_up.h2_2' }"%></div>
    </div>

    <div class="d-flex align-items-center  mb-4">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label4' }"%></p>
      <div class="border border-dark-blue border-classic d-flex  align-items-center justify-content-around" style="width:300px;height:45px">
        <div class='bg-primary w-50 h-100 text-center border-classic-left d-flex align-items-center justify-content-center' style='cursor: pointer;'><%=  "#{t 'sign_up.answer1' }"%></div>
        <div class=' w-50 h-100 text-center border-classic-right d-flex align-items-center justify-content-center' style='cursor: pointer;'><%=  "#{t 'sign_up.answer2' }"%></div>
      </div>
    </div>
    <div class="d-flex align-items-center  mb-4">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label5' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
    <div class="d-flex align-items-center  mb-5">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label6' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
  </div>
  <div>
    <div class="d-flex mb-4">
      <div class='text-white bg-dark-blue p-2 rounded-circle d-flex align-items-center justify-content-center' style="width:30px;height:30px;">2</div>
      <div class=' ml-2 text-dark-blue font-weight-bold d-flex align-items-center justify-content-center'><%=  "#{t 'sign_up.h2_3' }"%></div>
    </div>
    <div class="d-flex align-items-center  mb-4">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label7' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
    <div class="d-flex align-items-center  mb-5">
      <p class='mb-0 mr-6' style="width:150px"><%=  "#{t 'sign_up.label8' }"%></p>
      <div class="border border-dark-blue border-classic bg-white " style="width:300px;height:45px"></div>
    </div>
  </div>
  <div class=" ml-7 mb-6 btn btn-primary">
    Validez
  </div>


<%
=begin%>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :status, label: false,
                    input_html: { value: params[:status], class: 'hidden' }  %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".sign_up"), class: 'btn btn-primary'  %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
<%
=end%>
</div>
