<% if params["locale"] === "fr" %>
<% langage = :second %>
<% elsif params["locale"] === "en" %>
<% langage = :third %>
<% else %>
<% langage = :third %>
<% end %>
<div class="avancement">
  <div class="position-avancement-actif inline-text">
    <div class="avancement-number">
      <p class=" actif-number">1</p>
    </div>
    <p>
      <%= t 'avancement.title1' %><br><%= t 'avancement.title1_suite' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">2</p>
    </div>
    <p>
      <%= t 'avancement.title2' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">3</p>
    </div>
    <p>
      <%= t 'avancement.title3' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">4</p>
    </div>
    <p>
      <%= t 'avancement.title4' %> <br><%= t 'avancement.title4_suite' %>
    </p>
  </div>
</div>


<div class="container ">
  <div class="title  center my-4">
    <h2><%= t 'contract.new.police' %></h2>
  </div>
  <%= simple_form_for [@customer, @contract] , html: { class: "center-form"}  do |f| %>
  <%= f.input :insure_trade_type, as: :radio_buttons, collection: Contract::INSURETRADTYPE, label_method: langage, value_method: :first, legend_tag: false  %>
  <%= f.submit "#{t 'contract.new.button' }", class:'btn btn-primary' %>
  <% end %>
</div>
