<div class="avancement">
  <div class="position-avancement-actif inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">1</p>
    </div>
    <p>
      <%= t 'avancement.title1' %> <br><%= t 'avancement.title1_suite' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" actif-number">2</p>
    </div>
    <p>
      <%= t 'avancement.title2' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" actif-number">3</p>
    </div>
    <p>
      <%= t 'avancement.title3' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" actif-number">4</p>
    </div>
    <p>
      <%= t 'avancement.title4' %><br><%= t 'avancement.title4_suite' %>
    </p>
  </div>
</div>
<div class="container">
  <table class="mb-4 center" style="width: 100%;">
    <tbody style="height:'0%;">
      <tr>
        <td colspan="4">
          <h3 class='my-2'><%= t 'nbi_cinq_multiple.new.title1' %></h3>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue" style='width: 60%'><%= t 'nbi_cinq_multiple.new.table1' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          <%= number_to_currency(@information[:impaye] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table2' %>:</td>
        <td class="option1 darkk-blue" colspan=" 3">
          <%= number_to_currency(@information[:cumul_impaye] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table3' %>:</td>
        <td class="option1 darkk-blue">
          Option 1
        </td>
        <td class="option1 darkk-blue">
          Option 2
        </td>
        <td class="option1 darkk-blue">
          Option 3
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table4' %>:</td>
        <td class="option1 darkk-blue">
          <%=   number_to_currency(@information[:franchise_option_1] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%=    number_to_currency(@information[:franchise_option_2], unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%=     number_to_currency(@information[:franchise_option_3], unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h3 class='my-2'><%= t 'nbi_cinq_multiple.new.title2' %></h3>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table5' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          <%= number_to_currency(@information[:garantie_1_5] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table6' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          <%= number_to_currency(@information[:garantie_6] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table7' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          <%= number_to_currency(@information[:garantie_7] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table8' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          <%= @information[:nombre_grade]%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table9' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          25 €
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h3 class='my-2'><%= t 'nbi_cinq_multiple.new.title3' %> </h3>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table10' %>:</td>
        <td class="option1 darkk-blue" colspan="3">
          <%= number_to_currency(@information[:plafond_annuel], unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"></td>
        <td class="option1 darkk-blue">
          Option 1
        </td>
        <td class="option1 darkk-blue">
          Option 2
        </td>
        <td class="option1 darkk-blue">
          Option 3
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table11' %></td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:prime_annuelle_1] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:prime_annuelle_2] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:prime_annuelle_3] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table12' %></td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:cout_police] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:cout_police] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:cout_police] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table13' %></td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:minimum_prime_1] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:minimum_prime_2] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:minimum_prime_3] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table14' %></td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:echeance_mensuelle_1] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:echeance_mensuelle_2] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
        <td class="option1 darkk-blue">
          <%= number_to_currency( @information[:echeance_mensuelle_3] , unit: :€, format: "%n %u", precision: 0)%>
        </td>
      </tr>
      <tr class='mt-2'>
        <td class="darkk-blue"><%= t 'nbi_cinq_multiple.new.table15' %></td>
        <td class="option2 center_table">
          <%= simple_form_for [@police_cinq_million, @nbi_cimq_multiple ] do |f| %>
          <%= f.input :impaye, :as => :hidden, :input_html => { :value => @information[:impaye]} %>
          <%= f.input :cumul_impaye, :as => :hidden, :input_html => { :value => @information[:cumul_impaye]} %>
          <%= f.input :franchise_option, :as => :hidden, :input_html => { :value => @information[:franchise_option_1]} %>
          <%= f.input :garantie_1_5, :as => :hidden, :input_html => { :value => @information[:garantie_1_5]} %>
          <%= f.input :garantie_6, :as => :hidden, :input_html => { :value => @information[:garantie_6]} %>
          <%= f.input :garantie_7, :as => :hidden, :input_html => { :value => @information[:garantie_7]} %>
          <%= f.input :nombre_grade, :as => :hidden, :input_html => { :value => @information[:nombre_grade]} %>
          <%= f.input :plafond_annuel, :as => :hidden, :input_html => { :value => @information[:plafond_annuel]} %>
          <%= f.input :prime_annuelle, :as => :hidden, :input_html => { :value => @information[:prime_annuelle_1]} %>
          <%= f.input :cout_police, :as => :hidden, :input_html => { :value => @information[:cout_police]} %>
          <%= f.input :minimum_prime, :as => :hidden, :input_html => { :value => @information[:minimum_prime_1]} %>
          <%= f.input :echeance_mensuelle, :as => :hidden, :input_html => { :value => @information[:echeance_mensuelle_1]} %>
          <%= f.submit "#{t 'button_valider'}", class:'btn btn-primary mt-2' %>
          <%end%>
        </td>
        <td class="option2 center_table">
          <%= simple_form_for [@police_cinq_million, @nbi_cimq_multiple ] do |f| %>
          <%= f.input :impaye, :as => :hidden, :input_html => { :value => @information[:impaye]} %>
          <%= f.input :cumul_impaye, :as => :hidden, :input_html => { :value => @information[:cumul_impaye]} %>
          <%= f.input :franchise_option, :as => :hidden, :input_html => { :value => @information[:franchise_option_2]} %>
          <%= f.input :garantie_1_5, :as => :hidden, :input_html => { :value => @information[:garantie_1_5]} %>
          <%= f.input :garantie_6, :as => :hidden, :input_html => { :value => @information[:garantie_6]} %>
          <%= f.input :garantie_7, :as => :hidden, :input_html => { :value => @information[:garantie_7]} %>
          <%= f.input :nombre_grade, :as => :hidden, :input_html => { :value => @information[:nombre_grade]} %>
          <%= f.input :plafond_annuel, :as => :hidden, :input_html => { :value => @information[:plafond_annuel]} %>
          <%= f.input :prime_annuelle, :as => :hidden, :input_html => { :value => @information[:prime_annuelle_2]} %>
          <%= f.input :cout_police, :as => :hidden, :input_html => { :value => @information[:cout_police]} %>
          <%= f.input :minimum_prime, :as => :hidden, :input_html => { :value => @information[:minimum_prime_2]} %>
          <%= f.input :echeance_mensuelle, :as => :hidden, :input_html => { :value => @information[:echeance_mensuelle_2]} %>
          <%= f.submit "#{t 'button_valider'}", class:'btn btn-primary mt-2' %>
          <%end%>
        </td>
        <td class="option2 center_table">
          <%= simple_form_for [@police_cinq_million, @nbi_cimq_multiple ] do |f| %>
          <%= f.input :impaye, :as => :hidden, :input_html => { :value => @information[:impaye]} %>
          <%= f.input :cumul_impaye, :as => :hidden, :input_html => { :value => @information[:cumul_impaye]} %>
          <%= f.input :franchise_option, :as => :hidden, :input_html => { :value => @information[:franchise_option_3]} %>
          <%= f.input :garantie_1_5, :as => :hidden, :input_html => { :value => @information[:garantie_1_5]} %>
          <%= f.input :garantie_6, :as => :hidden, :input_html => { :value => @information[:garantie_6]} %>
          <%= f.input :garantie_7, :as => :hidden, :input_html => { :value => @information[:garantie_7]} %>
          <%= f.input :nombre_grade, :as => :hidden, :input_html => { :value => @information[:nombre_grade]} %>
          <%= f.input :plafond_annuel, :as => :hidden, :input_html => { :value => @information[:plafond_annuel]} %>
          <%= f.input :prime_annuelle, :as => :hidden, :input_html => { :value => @information[:prime_annuelle_2]} %>
          <%= f.input :cout_police, :as => :hidden, :input_html => { :value => @information[:cout_police]} %>
          <%= f.input :minimum_prime, :as => :hidden, :input_html => { :value => @information[:minimum_prime_2]} %>
          <%= f.input :echeance_mensuelle, :as => :hidden, :input_html => { :value => @information[:echeance_mensuelle_2]} %>
          <%= f.submit "#{t 'button_valider'}", class:'btn btn-primary mt-2' %>
          <%end%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
