<div class="avancement">
  <div class="position-avancement-realise inline-text">
    <i class="fas fa-check-circle tick"></i>
    <p>
      Choix de la <br>police
    </p>
  </div>
  <div class="position-avancement-realise inline-text">
    <i class="fas fa-check-circle tick"></i>
    <p>
      Tarification
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" actif-number">3</p>
    </div>
    <p>
      Information <br>complémentaires
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">4</p>
    </div>
    <p>
      Création <br>police
    </p>
  </div>
</div>

<div class="container ">
  <div class="title my-4">
    <h2>Informations complémentaires</h2>
    <p>Pour finaliser votre contrat nous avons besoin de ...</p>
  </div>
  <div id="contact" class="card-info">
    <div class="number">
      <p class="card-number card-number-active">1</p>
    </div>
    <div class="card-content">
      <h3>Contact chez l'assuré</h3>
      <p>
        Veuillez indiquer les détails des contacts de l ‘Assuré.
        Cette déclaration une fois remplie fera partie de la police
        d’assurance crédit de second rang.<br><em>*Champs obligatoires.</em>
      </p>
      <%= simple_form_for([@police_cinq_million, @customer_contact]) do |f| %>
      <div class="contact">
        <p>Détails des Contacts de l’Assuré</p>
        <div class="inline">
          <%= f.input :last_name_contact , label: 'Nom de Famille', input_html: {value:  @primary_contact.last_name || ''}%>
          <%= f.input :position_contact , label: 'Fonction', input_html: {value:  @primary_contact.position || ''}%>
        </div>
        <div class="inline">
          <%= f.input :email_contact , label: 'Adresse email', input_html: {value:  @primary_contact.email || ''}%>
          <%= f.input :tel_contact , label: 'N° de téléphone', input_html: {value:  @primary_contact.tel || ''} %>
        </div>
      </div>
      <div class="contact">
        <p style='margin-bottom: 0rem;'>Détails des contacts du dirigeant de l’Assuré</p>
        <input id="dirigeant" type="checkbox" style='margin-bottom: 1rem;'> Cochez si pareil que précédemment
        <div class="inline">
          <%= f.input :last_name_dirigeant , label: 'Nom de Famille' %>
          <%= f.input :position_dirigeant , label: 'Fonction' %>
        </div>
        <div class="inline">
          <%= f.input :email_dirigeant , label: 'Adresse email' %>
          <%= f.input :tel_dirigeant , label: 'N° de téléphone' %>
        </div>
      </div>
      <div class="contact">
        <p style='margin-bottom: 0rem;'>La correspondance quotidienne au titre de la police d’assurance doit être adressée à</p>
        <input id="correspondance" type="checkbox" style='margin-bottom: 1rem;'> Cochez si pareil que précédemment
        <div class="inline">
          <%= f.input :last_name_correspondance , label: 'Nom de Famille' %>
          <%= f.input :position_correspondance , label: 'Fonction' %>
        </div>
        <div class="inline">
          <%= f.input :email_correspondance , label: 'Adresse email' %>
          <%= f.input :tel_correspondance , label: 'N° de téléphone' %>
        </div>
        <%= f.submit 'Validez' , class: 'btn btn-primary mb-2', id:'button-contact'  %>
      </div>
      <% end %>

    </div>
    <% if @police_cinq_million.customer_contact%>
    <div class="done">
      <i class="fas fa-check-circle tick green"></i>
    </div>
    <% end %>
  </div>

</div>
