<div class="container ">
  <div id="police-second-rang" class="card-info mt-2">.
    <div class="number">
      <% if @police_cinq_million.client_name == nil %>
      <p class="card-number card-number-active">1</p>
      <% else%>
      <p class="card-number card-number-inactive">1</p>
      <% end %>
    </div>
    <div class="card-content ">
      <% if @police_cinq_million.client_name == nil %>
      <h3><%= t 'nbi_cinq_un.new.title1' %>:</h3>
      <% else%>
      <h3><%= t 'nbi_cinq_un.new.title1_bis' %>: <%= @police_cinq_million.client_name  %></h3>
      <% end %>

      <% if @police_cinq_million.client_name == nil %>
      <%= simple_form_for @police_cinq_million, remote: true do |f| %>
      <%= f.input :client_name , label: false, collection: NbiCinqUn::CLIENT %>
      <%= f.submit "#{t 'button_valider'}", class:'btn btn-primary mb-2' %>
      <% end %>
      <% end %>
    </div>
    <% if @police_cinq_million.client_name != nil %>
    <div class="done">
      <i class="fas fa-check-circle tick green"></i>
    </div>
    <% end %>
  </div>

  <div id="police-second-rang" class="card-info">
    <div class="number">
      <% if !@police_cinq_million.client_info_cinq.name.nil? && @police_cinq_million.client_info_cinq.id.nil? %>
      <p class="card-number card-number-active">2</p>
      <% else%>
      <p class="card-number card-number-inactive">2</p>
      <% end %>
    </div>
    <div class="card-content">
      <h3><%= t 'nbi_cinq_un.new.title2' %></h3>
      <% if !@police_cinq_million.client_info_cinq.name.nil? && @police_cinq_million.client_info_cinq.id.nil? %>
      <%= render 'client_info_cinqs/new' %>
      <% end %>
    </div>
    <% if @police_cinq_million.client_info_cinq.id != nil %>
    <div class="done">
      <i class="fas fa-check-circle tick green"></i>
    </div>
    <% end %>
  </div>

  <div id="police-second-rang" class="card-info">
    <div class="number">
      <% if !@police_cinq_million.client_info_cinq.name.nil? && !@police_cinq_million.client_info_cinq.id.nil? %>
      <p class="card-number card-number-active">3</p>
      <% else%>
      <p class="card-number card-number-inactive">3</p>
      <% end %>
    </div>
    <div class="card-content">
      <h3>Options</h3>
      <% if !@police_cinq_million.client_info_cinq.name.nil? && !@police_cinq_million.client_info_cinq.id.nil? %>
      <table class="mb-4 center" style="width: 100%;">
        <tbody style="height:'0%;">
          <tr class='ligne-1'>
            <td style="width: 50%;"></td>
            <td style="width: 40%;" class="option1">
              <p class="titre-tableau-1"><%= t 'nbi_cinq_un.new.table_titre1' %></p>
            </td>
            <td style="width: 10%;" class=" option2">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table0' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= @information[:client_name] %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table1' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= @information[:grade] %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table2' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_currency(@information[:montant_perte_base] , unit: :€, format: "%n %u", precision: 0)%>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table3' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_percentage(@information[:quotite_base] * 100, precision: 0)  %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table4' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= @information[:duree_base]   %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table5' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_currency(@information[:montant_forfait_base] , unit: :€, format: "%n %u", precision: 0)   %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr>
            <td class="darkk-blue">
              <%= t 'nbi_cinq_un.new.table6' %>:
            </td>
            <td class="option2 ">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= simple_form_for [@police_cinq_million, @nbi_cinq_un ] do |f| %>
              <%= f.input :client_name, :as => :hidden, :input_html => { :value => @information[:client_name]} %>
              <%= f.input :grade, :as => :hidden, :input_html => { :value => @information[:grade]} %>
              <%= f.input :montant_perte_base, :as => :hidden, :input_html => { :value => @information[:montant_perte_base]} %>
              <%= f.input :quotite_base, :as => :hidden, :input_html => { :value => @information[:quotite_base]} %>
              <%= f.input :duree_base, :as => :hidden, :input_html => { :value => @information[:duree_base]} %>
              <%= f.input :montant_forfait_base, :as => :hidden, :input_html => { :value => @information[:montant_perte_complementaire]} %>
              <%= f.input :montant_perte_complementaire, :as => :hidden, :input_html => { :value => 0} %>
              <%= f.input :montant_forfait_complemmentaire, :as => :hidden, :input_html => { :value => 0} %>
              <%= f.submit "#{t 'button_valider'}", class:'btn btn-primary my-2' %>
              <%end%>
              <%end%>
            </td>
          </tr>
          <% if  !@information[:montant_perte_complementaire].zero?%>
          <tr>
            <td></td>
            <td style="width: 30%;" class=" option2">
              <p class="titre-tableau-2"><%= t 'nbi_cinq_un.new.table_titre2' %></p>
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table7' %>:</td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_currency(@information[:montant_perte_complementaire] , unit: :€, format: "%n %u", precision: 0)  %>
              <% end %>
            </td>
            <td>
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table8' %></td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_currency(@information[:montant_forfait_complemmentaire]  , unit: :€, format: "%n %u", precision: 0)  %>
              <% end %>
            </td>
            <td>
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table10' %></td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_currency(@information[:montant_perte_base] + @information[:montant_perte_complementaire]   , unit: :€, format: "%n %u", precision: 0)  %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='ligne-2-2-first'>
            <td class="darkk-blue"><%= t 'nbi_cinq_un.new.table11' %></td>
            <td class="option1 darkk-blue">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= number_to_currency(@information[:montant_forfait_base]  + @information[:montant_forfait_complemmentaire], unit: :€, format: "%n %u", precision: 0)  %>
              <% end %>
            </td>
            <td class="option1 darkk-blue">
            </td>
          </tr>
          <tr class='mt-2'>
            <td class="darkk-blue">
              <%= t 'nbi_cinq_un.new.table12' %>:
            </td>
            <td class="option2 center_table">
              <% unless @nbi_cinq_un.client_name.nil? %>
              <%= simple_form_for [@police_cinq_million, @nbi_cinq_un ] do |f| %>
              <%= f.input :client_name, :as => :hidden, :input_html => { :value => @information[:client_name]} %>
              <%= f.input :grade, :as => :hidden, :input_html => { :value => @information[:grade]} %>
              <%= f.input :montant_perte_base, :as => :hidden, :input_html => { :value => @information[:montant_perte_base]} %>
              <%= f.input :quotite_base, :as => :hidden, :input_html => { :value => @information[:quotite_base]} %>
              <%= f.input :duree_base, :as => :hidden, :input_html => { :value => @information[:duree_base]} %>
              <%= f.input :montant_forfait_base, :as => :hidden, :input_html => { :value => @information[:montant_perte_complementaire]} %>
              <%= f.input :montant_perte_complementaire, :as => :hidden, :input_html => { :value => @information[:montant_forfait_base]} %>
              <%= f.input :montant_forfait_complemmentaire, :as => :hidden, :input_html => { :value => @information[:montant_forfait_complemmentaire]} %>
              <%= f.submit "#{t 'button_valider'}", class:'btn btn-primary mt-2' %>
              <%end%>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>

