<div class="avancement">
  <div class="position-avancement-actif inline-text">
    <div class="avancement-number">
      <p class=" actif-number">1</p>
    </div>
    <p>
      Choix de la <br>police
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">2</p>
    </div>
    <p>
      Tarification
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">3</p>
    </div>
    <p>
      Information <br>complémentaires
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">4</p>
    </div>
    <p>
      Création <br>police
    </p>
  </div>
</div>
<div class="container container-custom">
  <div class="title my-4">
    <h2>Police XOL pour entreprise de 5 millions € à 20 millions € de chiffre daffaires annuel</h2>
    <h3> MARCHES EXPORT sur les pays classés risque B et/ou C </h3>
  </div>
  <%= simple_form_for [@police, @police_b] do |f| %>
  <p>Quel est le montant du chiffre d'affaires annuel à l'export soumis à InsureTrade sur les pays classés risque B? </p>
  <p>Rappel Liste PAYS classés risque B: </p>
  <%= f.input :amount_ca_export_b , label: false, collection: PoliceXolB::CAB, label_method: :second, value_method: :first  %>
  <p>Quel est le montant du chiffre d'affaires annuel à l'export soumis à InsureTrade sur les pays classés risque C?</p>
  <p>Rappel Liste PAYS classés risque C: </p>
  <%= f.input :amount_ca_export_c , label: false, collection: PoliceXolB::CAC, label_method: :second, value_method: :first %>
  <p>TOTAL du montant du chiffre annuel soumis à Insure Trade sur les pays classés risque B et/ou C
  </p>
  <p>Quel est le nombre de clients actifs à garantir domiciliés dans les pays classés risque B et/ou C?</p>
  <%= f.input :client_number , label: false, collection: PoliceXolB::NUMBER, label_method: :second, value_method: :first%>
  <p>Quel est le délai maximum de paiement accordé ?</p>
  <%= f.input :delai_max , label: false, collection: PoliceXol::DELAI, label_method: :second, value_method: :first%>
  <p>Quel est votre DSO?</p>
  <%= f.input :dso , label: false, collection: PoliceXol::DSO, label_method: :second, value_method: :first%>
  <h3 style='text-align: center '>Vos Clients principaux sur votre marché Export dans les pays classés B et/ou classés C</h3>
  <div class="d-flex justify-content-around align-items-center">
    <p style='width: 150px; text-align: center; margin-left:10px'>Raison sociale</p>
    <p style='width: 150px; text-align: center'>Adresse</p>
    <p style=' width: 150px; text-align: center'>Code postale</p>
    <p style='width: 150px; text-align: center'>Ville</p>
    <p style='width: 150px; text-align: center'>Pays</p>
    <p style='width: 150px; text-align: center'>Siret</p>
    <p style='width: 150px; text-align: center'>% de votre chiffre d'affaires H.T. total maximum annuel ci-dessus au point 7.4 soumis à InsureTrade</p>
    <p style='width: 150px; text-align: center'>Equivalent à un chiffre d'affaires H.T. maximum annuel </p>
  </div>
  <%= f.simple_fields_for :main_customer_bs do |c| %>
  <div class="inline no-f-child">
    <%= c.index + 1%>
    <%= c.input :name, label: false, input_html: { class: 'mx-2' }  %>
    <%= c.input :address, label: false, input_html: { class: 'mx-2' } %>
    <%= c.input :zip_code , label: false, input_html: { class: 'mx-2' } %>
    <%= c.input :city , label: false, input_html: { class: 'mx-2' } %>
    <%= c.input :country, as: :string, label: false, input_html: { class: 'mx-2' } %>
    <%= c.input :siret, label: false, input_html: { class: 'mx-2' } %>
    <%= c.input :percent_ca , label: false, collection: PoliceXol::PERCENT_TURNOVER, label_method: :second, value_method: :first , input_html: { class: 'mx-2' } %>
    <p class='mx-2' style='width: 210px; height: 38px; line-height: 38px; text-align: center ;border:1px solid #ced4da; background:white'>0</p>
  </div>
  <% end %>
  <h3 style='text-align: center '>Historique des pertes à l'export sur les pays classés risque B et/ou C</h3>
  <div class="d-flex justify-content-around align-items-center">
    <p style='width: 150px; text-align: center; margin-left:10px'>Pour la période de</p>
    <p style='width: 150px; text-align: center'>au</p>
    <p style=' width: 150px; text-align: center'>Montant cumulé des pertes subies</p>
    <p style='width: 150px; text-align: center'>Nombre des clients ayant générés une perte</p>
    <p style='width: 150px; text-align: center'>Montant H de la perte subie la plus importante pour chaque période concernée</p>
  </div>
  <%= f.simple_fields_for :historic_losses_bs do |c| %>
  <div class="inline no-f-child">
    <%= c.index + 1%>
    <p class='ml-2' style='width: 210px; height: 38px; line-height: 38px; text-align: center ;border:1px solid #ced4da; background:white'>0</p>
    <p style='width: 210px; height: 38px; line-height: 38px; text-align: center ;border:1px solid #ced4da; background:white'>0</p>
    <%= c.input :amount_loss , label: false, collection: PoliceXol::CUMUL_LOSS, label_method: :second, value_method: :first %>
    <%= c.input :number_client , label: false, collection: PoliceXol::NUMBER_CLIENT, label_method: :second, value_method: :first %>
    <%= c.input :max_loss , label: false, collection: PoliceXol::MAX_LOSS, label_method: :second, value_method: :first %>
  </div>
  <% end %>
  <%= f.submit 'Validez', class:'btn btn-primary' %>
  <% end %>
</div>
