<nav class="navbar navbar-expand-lg navbar-light p-0">
  <%= link_to root_path, class: "navbar-brand navbar-brand-app" do %>
    <div class=" div-logo bg-dark-blue h-100 border-0">
      <%= image_tag "logo-2-small.png", size: "57*55", class: 'logo-app' %>
    </div>
  <% end %>
  <button class="navbar-toggler bg-dark-blue mr-4" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-white pl-2 pb-2" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item " >
        <%= link_to "Demande Garantie Click & Cover", search_guarantee_ccs_path(), class:'nav-link nav-link-primary' %>
      </li>
      <% if false %>
      <li class="nav-item " >
        <%= link_to "Garantie Click & Cover", new_guarantee_cc_path(), class:' nav-link nav-link-primary' %>
      </li>
      <% end %>
      <li class="nav-item " >
        <%= link_to "Demande garantie à la carte", new_guarantee_add_path(), class:'nav-link nav-link-primary' %>
      </li>
      <li class="nav-item " >
        <%= link_to "Demande Impayé/Recouvrement", new_unpaid_path(), class:'nav-link nav-link-primary' %>
      </li>
      <li class="nav-item " >
        <%= link_to "Déclaration sinistre", new_sinister_path(), class:'nav-link nav-link-primary' %>
      </li>
      <li class="nav-item " >
        <a class="nav-link nav-link-primary" href="#">Demande relance client</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-primary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contactez-nous
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <%= link_to "Contacter votre intermédiaire", root_path, class: "nav-link", method: :delete%>
          <%= link_to "Nous contacter", root_path, class: "nav-link", method: :delete%>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-link-primary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if current_user %>
          <% current_user %>
            <%= link_to "Déconnectez-vous", destroy_user_session_path, class: "nav-link", method: :delete%>
          <% else %>
            <%= link_to "Connectez-vous", new_user_session_path, class: "nav-link" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
