<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Insure Trade</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item " >
        <%= link_to "Mes garanties", root_path(), class:'nav-link' %>
      </li>
      <li class="nav-item " >
        <%= link_to "Garantie Click & Cover", new_guarantee_cc_path(), class:'nav-link' %>

      </li>
      <li class="nav-item " >
        <%= link_to "Garantie additionnelle à la carte", new_guarantee_add_path(), class:'nav-link' %>
      </li>
      <li class="nav-item " >
        <%= link_to "Impayé/Recouvrement", new_unpaid_path(), class:'nav-link' %>
      </li>
      <li class="nav-item " >
        <%= link_to "Sinistre", new_sinister_path(), class:'nav-link' %>
      </li>
      <li class="nav-item " >
        <a class="nav-link" href="#">Gestion Police</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if current_user %>
          <% current_user %>
            <%= link_to "Déconnectez-vous", destroy_user_session_path, class: "nav-link", method: :delete%>
          <% else %>
            <%= link_to "Connectez-vous", new_user_session_path, class: "nav-link" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
