<div class="avancement">
  <div class=" <%= @step == 1 ?  "position-avancement-actif" : "position-avancement-a-faire" %>  d-flex">
    <div class="avancement-number">
      <p class=" actif-number mr-2">1.</p>
    </div>
    <p>
      <%= t 'avancement.title1' %> <%= t 'avancement.title1_suite' %>
    </p>
  </div>
  <div class="<%= @step == 2 ?  "position-avancement-actif" : "position-avancement-a-faire" %> d-flex">
    <div class="avancement-number">
      <p class=" a-faire-number mr-2">2.</p>
    </div>
    <p>
      <%= t 'avancement.title2' %>
    </p>
  </div>
  <div class="<%= @step == 3 ?  "position-avancement-actif" : "position-avancement-a-faire" %> d-flex">
    <div class="avancement-number">
      <p class=" a-faire-number mr-2">3.</p>
    </div>
    <p>
      <%= t 'avancement.title3' %>
    </p>
  </div>
  <div class="<%= @step == 4 ?  "position-avancement-actif" : "position-avancement-a-faire" %> d-flex">
    <div class="avancement-number">
      <p class=" a-faire-number mr-2">4.</p>
    </div>
    <p>
      <%= t 'avancement.title4' %> <%= t 'avancement.title4_suite' %>
    </p>
  </div>
</div>
