<nav class="navbar  navbar-app">
  <%= link_to root_path, class: "navbar-brand navbar-brand-app" do %>
    <div class=" div-logo bg-dark-blue h-100 border-0">
      <%= image_tag "logo-2-small.png", size: "57*55", class: 'logo-app' %>
    </div>
  <% end %>
  <% if @avancement == true %>
    <%= render "shared/avancement" %>
  <% end %>
  <div class=" justify-content-end bg-primary h-100 d-flex justify-content-center align-items-center" id="navbarNavDropdown">
      <div class="mx-4 pt-3" >

        <div class="btn-group">
          <p class="dropdown-toggle  font-weight-bold pointer"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=  "#{t 'expert_navbar.h1' }"%>
          </p>
          <div class="dropdown-menu">
            <p class="dropdown-item-customize" href="#"><%=  "#{t 'expert_navbar.p1' }"%>: </p>
            <p class="dropdown-item-customize" href="#">Henri Durant</p>
            <div class="dropdown-divider"></div>
            <p class="dropdown-item-customize" href="#"><%=  "#{t 'expert_navbar.p2' }"%> :  06 12 34 56 78</p>
            <a class="dropdown-item" href="#"><%=  "#{t 'expert_navbar.p3' }"%></a>
            <a class="dropdown-item" href="#"><%=  "#{t 'expert_navbar.p4' }"%></a>
          </div>
        </div>
      </div>
      <div class="mx-4 ">
        <%= link_to  destroy_user_session_path, method: :delete do%>
          <%= render "shared/svg/fi_power.svg" %>
        <% end %>
      </div>
    </ul>
  </div>
</nav>
