<nav class="navbar  navbar-app">
  <%= link_to root_path, class: "navbar-brand navbar-brand-app" do %>
    <div class=" div-logo bg-dark-blue h-100 border-0">
      <%= image_tag "logo-2-small.png", size: "57*55", class: 'logo-app' %>
    </div>
  <% end %>
  <div class=" justify-content-end bg-primary h-100 d-flex justify-content-center align-items-center" id="navbarNavDropdown">
      <div class="mx-4 " >
        <p class='m-0'><%= current_user.full_name %></p>
        <p class="m-0 font-weight-bold">Gérer mon compte</p>
      </div>
      <div class="mx-4 ">
        <%= link_to  destroy_user_session_path, method: :delete do%>
          <%= render "shared/svg/fi_power.svg" %>
        <% end %>
      </div>
    </ul>
  </div>
</nav>
