<nav class="navbar navbar-expand-lg navbar-light ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-2.png", size: "160x55" %>
  <% end %>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#">Nos offres <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Devis indicatif</a>
      </li>
      <li class="nav-item <%= params[:action] == 'intermediaire' ? "active" : ""  %>" >
        <%= link_to "Espace intermédiaire", pages_intermediaire_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= params[:action] == 'assure' ? "active" : ""  %>">
        <%= link_to "Espace Assuré", pages_assure_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Qui sommes-nous?
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if current_user %>
          <% current_user %>
            <%= link_to "Déconnectez-vous", destroy_user_session_path, class: "nav-link", method: :delete%>
          <% else %>
            <%= link_to "Connectez-vous", new_user_session_path, class: "nav-link" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
