<nav class="navbar navbar-expand-lg navbar-light ">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-2.png", size: "160x55" %>
  <% end %>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#">Nos offres <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Devis indicatif</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Qui sommes-nous?
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item mx-4" >
        <%= link_to "Devenir partenaire", pages_intermediaire_path, class: "btn btn-primary btn-small" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Langues
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to  root_path(locale: :en), class:"dropdown-item" do %>
            <div class="d-flex">
              <%= image_tag  "united-kingdom-flag-wave-xs.png" , class: 'logo pt-1' %>
              <p class='ml-2 py-0'>English</p>
            </div>
          <% end %>

          <%= link_to  root_path(locale: :fr), class:"dropdown-item" do %>
            <div class="d-flex">
              <%= image_tag  "france-flag-wave-xs.png" , class: 'logo pt-1'%>
              <p class='ml-2 pb-0'>Français</p>
            </div>
          <% end %>

          <%= link_to  root_path(locale: :es), class:"dropdown-item" do %>
            <div class="d-flex">
              <%= image_tag  "spain-flag-wave-xs.png" , class: 'logo pt-1' %>
              <p class='ml-2 pb-0'>Espanol</p>
            </div>
          <% end %>

        </div>
      </li>
    </ul>
  </div>
</nav>
