<div >
  <div class="bg-dark-blue text-white d-flex flex-column  align-items-center py-5 px-4">
    <h1 class= 'pb-3'><%=  "#{t 'home.title1_1' }"%> <br> <%=  "#{t 'home.title1_2' }"%></h1>
    <h3><%=  "#{t 'home.subtitle1_1' }"%><br><%=  "#{t 'home.subtitle1_2' }"%></h3>
  </div>
  <div class='block-button'>
    <%= link_to "#{t 'home.button1' }", new_user_session_path(status: "expert"), class: 'btn btn-primary mr-2' %>
    <%= link_to "#{t 'home.button2' }", new_user_session_path(status: "assure"), class: 'btn btn-primary'%>
  </div>
  <div class='d-flex flex-column  align-items-center py-5 px-4'>
    <h2 class='pb-4'><%=  "#{t 'home.title2' }"%></h2>
    <div class='d-flex mx-7'>
      <p>
        <%=  "#{t 'home.p1_1' }"%>
        <br> <%=  "#{t 'home.p1_2' }"%>
        <br> <%=  "#{t 'home.p1_3' }"%>
        <br> <%=  "#{t 'home.p1_4' }"%>
        <br> <%=  "#{t 'home.p1_5' }"%>
      </p>
      <p class='mx-5'>
        <%=  "#{t 'home.p2_1' }"%>
        <br> <%=  "#{t 'home.p2_2' }"%>
        <br> <%=  "#{t 'home.p2_3' }"%>
        <br> <%=  "#{t 'home.p2_4' }"%>
        <br> <%=  "#{t 'home.p2_5' }"%>
      </p>
      <p>
        <%=  "#{t 'home.p3_1' }"%>
        <br> <%=  "#{t 'home.p3_2' }"%>
        <br> <%=  "#{t 'home.p3_3' }"%>
        <br> <%=  "#{t 'home.p3_4' }"%>
        <br> <%=  "#{t 'home.p3_5' }"%>
      </p>
    </div>
    <%= link_to "#{t 'home.button1' }", new_user_registration_path(status: "expert"), class: 'btn btn-primary my-5' %>
    <h2 class='pb-4 text-center'><%=  "#{t 'home.title3_1' }"%>
      <br> <%=  "#{t 'home.title3_2' }"%>
    </h2>
    <div class='d-flex mx-7'>
      <p>
        <%=  "#{t 'home.p4_1' }"%>
        <br> <%=  "#{t 'home.p4_2' }"%>
        <br> <%=  "#{t 'home.p4_3' }"%>
        <br> <%=  "#{t 'home.p4_4' }"%>
      </p>
      <p class='mx-5'>
        <%=  "#{t 'home.p5_1' }"%>
        <br> <%=  "#{t 'home.p5_2' }"%>
        <br> <%=  "#{t 'home.p5_3' }"%>
        <br> <%=  "#{t 'home.p5_4' }"%>
      </p>
      <p>
        <%=  "#{t 'home.p6_1' }"%>
        <br> <%=  "#{t 'home.p6_2' }"%>
        <br> <%=  "#{t 'home.p6_3' }"%>
        <br>
      </p>
    </div>
    <%= link_to "#{t 'home.button3' }", root_path, class: 'btn btn-primary my-5'%>
  </div>
</div>
