<div class="container">
  <p>
    <%= t 'primary_contact.new.title1' %>
    <br><em><%= t 'primary_contact.new.title1_suite' %></em>
  </p>
  <%= simple_form_for([@customer, @primary_contact]) do |f| %>
  <div class="contact">
    <div class="inline">
      <%= f.input :last_name, label: "#{t('primary_contact.new.label_nom' )}"%>
      <%= f.input :first_name, label: "#{t('primary_contact.new.label_prenom' )}"%>
    </div>
    <%= f.input :position, label: "#{t('primary_contact.new.label_fonction' )}" %>
    <div class="inline">
      <%= f.input :email, label: "#{t('primary_contact.new.label_mail' )}" %>
      <%= f.input :tel , label: "#{t('primary_contact.new.label_tel' )}" %>
    </div>
    <%= f.submit "#{t('primary_contact.new.button' )}" , class: 'btn btn-primary'  %>
  </div>
  <% end %>
</div>
