<div class="container">
  <div class='mb-4'>
    <h2 class="title pb-0"><%=  "#{t 'primary_contact2.new2.h1' }"%></h2>
  </div>
  <%= simple_form_for([@customer, @primary_contact]) do |f| %>
  <div class="contact">
    <div class="inline">
      <%= f.input :last_name, label: "#{t('primary_contact.new.label_nom' )}"%>
      <%= f.input :first_name, label: "#{t('primary_contact.new.label_prenom' )}"%>
    </div>
    <%= f.input :position, label: "#{t('primary_contact.new.label_fonction' )}" %>
    <div class="inline">
      <%= f.input :email, label: "#{t('primary_contact.new.label_mail' )}" %>
      <%= f.input :tel , label: "#{t('primary_contact.new.label_tel' )}" %>
    </div>
    <%= f.submit "#{t('primary_contact.new.button' )}" , class: 'btn btn-primary'  %>
  </div>
  <% end %>
</div>
