<% if params["locale"] === "fr" %>
<% langage = :second %>
<% elsif params["locale"] === "en" %>
<% langage = :third %>
<% else %>
<% langage = :third %>
<% end %>
<div class="avancement">
  <div class="position-avancement-actif inline-text">
    <div class="avancement-number">
      <p class=" actif-number">1</p>
    </div>
    <p>
      <%= t 'avancement.title1' %> <br><%= t 'avancement.title1_suite' %> <em>bis</em>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">2</p>
    </div>
    <p>
      <%= t 'avancement.title2' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">3</p>
    </div>
    <p>
      <%= t 'avancement.title3' %>
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">4</p>
    </div>
    <p>
      <%= t 'avancement.title4' %> <br> <%= t 'avancement.title4_suite' %>
    </p>
  </div>
</div>
<div class="container container-custom">
  <div class="title my-4">
    <h2>Assurance des impayés pour les artisans, commercants et entreprise de moins de 5 millions € de chiffre d'affaire annuel</h2>
  </div>
  <%= simple_form_for [@contract, @police_cinq_million] do |f| %>
  <p><%= t 'police_cinq_million.new.label1' %></p>
  <%= f.input :ammount_ca , label: false, collection: PoliceCinqMillion::CA,  label_method: langage, value_method: :first  %>
  <p><%= t 'police_cinq_million.new.label2' %></p>
  <%= f.input :client_number , label: false, collection: PoliceCinqMillion::NUMBERCLIENT, label_method: langage, value_method: :first %>
  <p><%= t 'police_cinq_million.new.label3' %></p>
  <%= f.input :max_loss , label: false, collection: PoliceCinqMillion::MAXLOSS%>
  <%= f.submit "#{t 'button_valider_infos'}", class:'btn btn-primary' %>
  <% end %>
</div>
