<div class="avancement">
  <div class="position-avancement-realise inline-text">
    <i class="fas fa-check-circle tick"></i>
    <p>
      Choix de la <br>police
    </p>
  </div>
  <div class="position-avancement-actif inline-text">
    <div class="avancement-number">
      <p class=" actif-number">2</p>
    </div>
    <p>
      Tarification
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">3</p>
    </div>
    <p>
      Information <br>complémentaires
    </p>
  </div>
  <div class="position-avancement-a-faire inline-text">
    <div class="avancement-number">
      <p class=" a-faire-number">4</p>
    </div>
    <p>
      Création <br>police
    </p>
  </div>
</div>

<div class="container">
  <div class="title mt-4">
    <h2>NBI</h2>
    <p>Pour finaliser votre contrat nous avons besoin de ...</p>
  </div>

  <p class="darkk-blue">Montant minimum d'intervention: <%= number_to_currency( @nbi.montant_min_intervention(@police.montant_min), unit: :€, format: "%n %u", precision: 0) %></p>
  <h4>
    1. Garantie sur vos Clients Dénommés avec un Grade de risque déivré par InsureTrade Service
  </h4>
  <table>
    <tbody style="height:0%;">
      <tr class='ligne-1-center'>
        <td style="width: 40%;" class="darkk-blue">Garantie automatique sur vos clients avec un Grade de risque obtenu d'InsureTrade Service</td>
        <td style="width: 10%;" class="option1">
          <div class="titre-tableau-1-2 hint-info">
            Zone 1
            <span><i class="fas fa-info-circle"></i></span>
            <div class="hint">
              Clients domiciliés en France, en Outremer ou dans tout pays classé en Risque A
            </div>
          </div>
        </td>
        <td style="width: 10%;" class=" option2">
          <div class="titre-tableau-2-2 hint-info">Zone 2
            <span><i class="fas fa-info-circle"></i></span>
            <div class="hint">
              Clients domiciliés dans tout pays classé en Risque B
            </div>
          </div>
        </td>
        <td style="width: 10%;" class=" option3">
          <div class="titre-tableau-3-2 hint-info">Zone 3
            <span><i class="fas fa-info-circle"></i></span>
            <div class="hint">
              Clients domiciliés dans tout pays classé en Risque C
            </div>
          </div>
        </td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Garantie automatique par Client avec un Grade de risque de 1 à 6</td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.garantie_1_a_6_zone_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency(@nbi.garantie_1_a_6_zone_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.garantie_1_a_6_zone_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Garantie automatique par Client avec un Grade de risque de 7 </td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.garantie_7_zone_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency(@nbi.garantie_7_zone_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.garantie_7_zone_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Garantie automatique par Client avec un Grade de risque de 8 </td>
        <td class="option2 darkk-blue" colspan="3">Garantie au titre du Point 2 sur vos Clients Non Dénommés</td>

      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Plafond annuel de garantie</td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.plafond_annuel_zone_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue">formule pas bonne</td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.plafond_annuel_zone_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Nombre souhaité de Clients avec un Grade de Risque devant être fourni par InsureTrade Service</td>
        <td class="option1 darkk-blue"><%= @nbi.nbr_client_ac_grade_insure_zone_1 %></td>
        <td class="option2 darkk-blue"><%= @nbi.nbr_client_ac_grade_insure_zone_2 %></td>
        <td class="option3 darkk-blue"><%= @nbi.nbr_client_ac_grade_insure_zone_3 %></td>
      </tr>
    </tbody>
  </table>
  <table class='my-4'>
    <tbody>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue" style="width: 40%;">
          Prime HT annuelle forfaitaire:
        </td>
        <td class="darkk-blue">
          <%= number_to_currency(@nbi.prime_ht_annuelle, unit: :€, format: "%n %u", precision: 0) %>
        </td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">
          Cout de police et frais annexes HT:
        </td>
        <td class="darkk-blue">
          <%= number_to_currency(@nbi.cout_police_frais_annexe_ht, unit: :€, format: "%n %u", precision: 0) %>
        </td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">
          Total forfaitaire HT annuel:
        </td>
        <td class="darkk-blue">
          <%= number_to_currency(@nbi.total_forfaitaire, unit: :€, format: "%n %u", precision: 0) %>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>
    2. Garantie sur vos Clients Non Dénommés - toute ZONE - sans Grade de risque délivré par InsureTrade Service
  </h4>
  <table class="mb-4">
    <tbody style="height:'0%;">
      <tr class='ligne-1'>
        <td style="width: 40%;"></td>
        <td style="width: 10%;" class="option1">
          <p class="titre-tableau-1">Option 1</p>
        </td>
        <td style="width: 10%;" class=" option2">
          <p class="titre-tableau-2">Option 2</p>
        </td>
        <td style="width: 10%;" class=" option3">
          <p class="titre-tableau-3">Option 3</p>
        </td>
      </tr>
      <tr class='ligne-2'>
        <td class="darkk-blue">Plafond annuel de garantie pour vos Clients - toute ZONE - sans Grade de Risque obtenu d'InsureTrade Service</td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.plafond_annuel_option_1_2_et_3, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency(@nbi.plafond_annuel_option_1_2_et_3, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.plafond_annuel_option_1_2_et_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-3-a-6'>
        <td STYLE="padding:0 0 0 20px;">
          <div class="hint-info">
            3ème ligne du cumul annuel des pertes garanties </div>
        </td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.ligme_cumul_annuel_perte_garantie_3_option_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency( @nbi.ligme_cumul_annuel_perte_garantie_3_option_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency( @nbi.ligme_cumul_annuel_perte_garantie_3_option_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-3-a-6'>
        <td STYLE="padding:0 0 0 20px;">
          <div class="hint-info">
            2ème ligne du cumul annuel des pertes garanties </div>
        </td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.ligme_cumul_annuel_perte_garantie_2_option_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency( @nbi.ligme_cumul_annuel_perte_garantie_2_option_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency( @nbi.ligme_cumul_annuel_perte_garantie_2_option_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-3-a-6'>
        <td STYLE="padding:0 0 0 20px;">
          <div class="hint-info">
            1er ligne du cumul annuel des pertes garanties </div>
        </td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.ligme_cumul_annuel_perte_garantie_1_option_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency( @nbi.ligme_cumul_annuel_perte_garantie_1_option_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency( @nbi.ligme_cumul_annuel_perte_garantie_1_option_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-3-a-6'>
        <td STYLE="padding:0 0 0 20px;">
          <div class="hint-info">
            Franchise Cumulée annuelle
          </div>
        </td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.franchise_cumul_option_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency( @nbi.franchise_cumul_option_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency( @nbi.franchise_cumul_option_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-3-a-6'>
        <td STYLE="padding:0 0 0 20px;">
          <div class="hint-info">
            Garantie automatique par Client - toute ZONE - sans Grade de risque obtenu d'InsureTrade Service </div>
        </td>
        <td class="option1 darkk-blue"><%= number_to_currency( @nbi.police_xol.non_denomme_final , unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency( @nbi.police_xol.non_denomme_final , unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency( @nbi.police_xol.non_denomme_final , unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-2-2-first'>
        <td class="darkk-blue">Prime HT annuelle forfaitaire</td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.prime_ht_annuelle_option_1, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency(@nbi.prime_ht_annuelle_option_2, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.prime_ht_annuelle_option_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Cout de police et frais annexes HT</td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.cout_police_frais_annexe_option_1_2_3, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency(@nbi.cout_police_frais_annexe_option_1_2_3, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.cout_police_frais_annexe_option_1_2_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Total forfaitaire HT annuel</td>
        <td class="option1 darkk-blue"><%= number_to_currency(@nbi.prime_ht_annuelle_option_1 + @nbi.cout_police_frais_annexe_option_1_2_3, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option2 darkk-blue"><%= number_to_currency(@nbi.prime_ht_annuelle_option_2 + @nbi.cout_police_frais_annexe_option_1_2_3, unit: :€, format: "%n %u", precision: 0) %></td>
        <td class="option3 darkk-blue"><%= number_to_currency(@nbi.prime_ht_annuelle_option_3 + @nbi.cout_police_frais_annexe_option_1_2_3, unit: :€, format: "%n %u", precision: 0) %></td>
      </tr>

      <tr class='ligne-12'>
        <td class="light-blue">Quelle option?</td>
        <td class="option1 center_table">
          <%= simple_form_for [@police, @nbi ] do |f| %>
          <%= f.input :montant_min, :as => :hidden, :input_html => { :value => @nbi.montant_min_intervention(@police.montant_min) } %>
          <%= f.input :garantie_1_6_z_1, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_1  } %>
          <%= f.input :garantie_1_6_z_2, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_2  } %>
          <%= f.input :garantie_1_6_z_3, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_3  } %>
          <%= f.input :garantie_7_z_1, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_1  } %>
          <%= f.input :garantie_7_z_2, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_2  } %>
          <%= f.input :garantie_7_z_3, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_3  } %>
          <%= f.input :plafond_annuel_garantie_z_1, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_zone_1 } %>
          <%
=begin%>
          bug ici
          <%
=end%>
          <%= f.input :plafond_annuel_garantie_z_2, :as => :hidden, :input_html => { :value => 0 } %>
          <%= f.input :plafond_annuel_garantie_z_3, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_zone_3 } %>
          <%= f.input :nbr_client_risque_z_1, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_1  } %>
          <%= f.input :nbr_client_risque_z_2, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_2  } %>
          <%= f.input :nbr_client_risque_z_3, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_3 } %>
          <%= f.input :prime_annuelle_1, :as => :hidden, :input_html => { :value => @nbi.prime_ht_annuelle  } %>
          <%= f.input :cout_police_1, :as => :hidden, :input_html => { :value => @nbi.cout_police_frais_annexe_ht } %>
          <%= f.input :plafond_annuelle_option, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_option_1_2_et_3 } %>
          <%= f.input :cumul_annuel_3, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_3_option_1  } %>
          <%= f.input :cumul_annuel_2, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_2_option_1 } %>
          <%= f.input :cumul_annuel_1, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_1_option_1  } %>
          <%= f.input :franchise_cumulee, :as => :hidden, :input_html => { :value => @nbi.franchise_cumul_option_1 } %>
          <%= f.input :garantie_auto, :as => :hidden, :input_html => { :value => @nbi.police_xol.non_denomme_final  } %>
          <%= f.input :prime_annuelle_option, :as => :hidden, :input_html => { :value => @nbi.prime_ht_annuelle_option_1 } %>
          <%= f.input :cout_police_option, :as => :hidden, :input_html => { :value => @nbi.cout_police_frais_annexe_option_1_2_3  } %>
          <%= f.submit 'Validez', class:'btn btn-primary' %>
          <%end%>
        </td>
        <td class="option2 center_table">
          <%= simple_form_for [@police, @nbi ] do |f| %>
          <%= f.input :montant_min, :as => :hidden, :input_html => { :value => @nbi.montant_min_intervention(@police.montant_min) } %>
          <%= f.input :garantie_1_6_z_1, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_1  } %>
          <%= f.input :garantie_1_6_z_2, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_2  } %>
          <%= f.input :garantie_1_6_z_3, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_3  } %>
          <%= f.input :garantie_7_z_1, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_1  } %>
          <%= f.input :garantie_7_z_2, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_2  } %>
          <%= f.input :garantie_7_z_3, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_3  } %>
          <%= f.input :plafond_annuel_garantie_z_1, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_zone_1 } %>
          <%
=begin%>
          bug ici
          <%
=end%>
          <%= f.input :plafond_annuel_garantie_z_2, :as => :hidden, :input_html => { :value => 0 } %>
          <%= f.input :plafond_annuel_garantie_z_3, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_zone_3 } %>
          <%= f.input :nbr_client_risque_z_1, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_1  } %>
          <%= f.input :nbr_client_risque_z_2, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_2  } %>
          <%= f.input :nbr_client_risque_z_3, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_3 } %>
          <%= f.input :prime_annuelle_1, :as => :hidden, :input_html => { :value => @nbi.prime_ht_annuelle  } %>
          <%= f.input :cout_police_1, :as => :hidden, :input_html => { :value => @nbi.cout_police_frais_annexe_ht } %>
          <%= f.input :plafond_annuelle_option, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_option_1_2_et_3 } %>
          <%= f.input :cumul_annuel_3, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_3_option_2  } %>
          <%= f.input :cumul_annuel_2, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_2_option_2 } %>
          <%= f.input :cumul_annuel_1, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_1_option_2  } %>
          <%= f.input :franchise_cumulee, :as => :hidden, :input_html => { :value => @nbi.franchise_cumul_option_2 } %>
          <%= f.input :garantie_auto, :as => :hidden, :input_html => { :value => @nbi.police_xol.non_denomme_final  } %>
          <%= f.input :prime_annuelle_option, :as => :hidden, :input_html => { :value => @nbi.prime_ht_annuelle_option_2 } %>
          <%= f.input :cout_police_option, :as => :hidden, :input_html => { :value => @nbi.cout_police_frais_annexe_option_1_2_3  } %>
          <%= f.submit 'Validez', class:'btn btn-primary' %>
          <%end%>
        </td>
        <td class="option3 center_table">
          <%= simple_form_for [@police, @nbi ] do |f| %>
          <%= f.input :montant_min, :as => :hidden, :input_html => { :value => @nbi.montant_min_intervention(@police.montant_min) } %>
          <%= f.input :garantie_1_6_z_1, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_1  } %>
          <%= f.input :garantie_1_6_z_2, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_2  } %>
          <%= f.input :garantie_1_6_z_3, :as => :hidden, :input_html => { :value => @nbi.garantie_1_a_6_zone_3  } %>
          <%= f.input :garantie_7_z_1, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_1  } %>
          <%= f.input :garantie_7_z_2, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_2  } %>
          <%= f.input :garantie_7_z_3, :as => :hidden, :input_html => { :value => @nbi.garantie_7_zone_3  } %>
          <%= f.input :plafond_annuel_garantie_z_1, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_zone_1 } %>
          <%
=begin%>
          bug ici
          <%
=end%>
          <%= f.input :plafond_annuel_garantie_z_2, :as => :hidden, :input_html => { :value => 0 } %>
          <%= f.input :plafond_annuel_garantie_z_3, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_zone_3 } %>
          <%= f.input :nbr_client_risque_z_1, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_1  } %>
          <%= f.input :nbr_client_risque_z_2, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_2  } %>
          <%= f.input :nbr_client_risque_z_3, :as => :hidden, :input_html => { :value => @nbi.nbr_client_ac_grade_insure_zone_3 } %>
          <%= f.input :prime_annuelle_1, :as => :hidden, :input_html => { :value => @nbi.prime_ht_annuelle  } %>
          <%= f.input :cout_police_1, :as => :hidden, :input_html => { :value => @nbi.cout_police_frais_annexe_ht } %>
          <%= f.input :plafond_annuelle_option, :as => :hidden, :input_html => { :value => @nbi.plafond_annuel_option_1_2_et_3 } %>
          <%= f.input :cumul_annuel_3, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_3_option_3  } %>
          <%= f.input :cumul_annuel_2, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_2_option_3 } %>
          <%= f.input :cumul_annuel_1, :as => :hidden, :input_html => { :value => @nbi.ligme_cumul_annuel_perte_garantie_1_option_3  } %>
          <%= f.input :franchise_cumulee, :as => :hidden, :input_html => { :value => @nbi.franchise_cumul_option_3 } %>
          <%= f.input :garantie_auto, :as => :hidden, :input_html => { :value => @nbi.police_xol.non_denomme_final  } %>
          <%= f.input :prime_annuelle_option, :as => :hidden, :input_html => { :value => @nbi.prime_ht_annuelle_option_3 } %>
          <%= f.input :cout_police_option, :as => :hidden, :input_html => { :value => @nbi.cout_police_frais_annexe_option_1_2_3  } %>
          <%= f.submit 'Validez', class:'btn btn-primary' %>
          <%end%>
        </td>
    </tbody>
  </table>
  <h4>
    Garantie 1. + 2. SUR l'ENSEMBLE DE VOTRE PORTEFEUILLE ClIENTS DENOMMES ET NON DENOMMES
  </h4>
  <table>
    <tbody>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Prime HT annuelle forfaitaire</td>
        <td class="option1 darkk-blue"> formule pas bonne je pense</td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Cout de police et frais annexes HT</td>
        <td class="option1 darkk-blue"> formule pas bonne /td>
      </tr>
      <tr class='ligne-2-2-vh'>
        <td class="darkk-blue">Total forfaitaire HT annuel</td>
        <td class="option1 darkk-blue">formule pas bonne</td>
      </tr>
    </tbody>
  </table>
</div>
