<p>Montant minimum d'intervention <%= @nbi.montant_min_intervention(@police.montant_min) %> </p>

<%= @police.main_customer_as.first.equivalent_ca %> <br>
<%= @police.total_ca_min %> <br>
<%= @police.total_ca_max %> <br>
<%= @police.somme_main_customer_ca %> <br>
<%= @police.total_ca_moy %> <br>
<%= @police.ca_6_client_suivant %> <br>
<%= @police.encours_10_client %> <br>
<%= @police.encours_1_client %> <br>
<%= @nbi.garantie_1_a_6_zone_1 %> <br>
<%= @nbi.garantie_1_a_6_zone_2 %><br>
<%= @nbi.garantie_1_a_6_zone_3 %><br>
<%= @nbi.garantie_7_zone_1 %> <br>
<%= @nbi.garantie_7_zone_2 %><br>
<%= @nbi.garantie_7_zone_3 %><br>
