<p>Merci de bien vouloir compléter les informations ci-après. Chaque
  section doit être complétée. Cette declaration une fois remplie fera partie de la police d’assurance.</p>
<%= simple_form_for([@police_cinq_million, @client_info_cinq]) do |f| %>
<div class="inline trois-enfant">
  <%= f.input :name , label: 'Raison sociale'%>
  <%= f.input :num_identification , label: "Siret" %>
</div>

<%= f.input :address , label: 'Adresse'%>
<div class="inline trois-enfant">
  <%= f.input :zip_code , label: 'Code postal'%>
  <%= f.input :city , label: 'Ville'%>
</div>
<%= f.input :terme_paiement , label: "Vos termes de paiement", collection: ClientInfoCinq::PAIEMENT %>
<%= f.input :anciennete , label: "L'ancienneté de vos relations avec ce client", collection: ClientInfoCinq::ANCIENNETE %>
<%= f.input :regularite , label: "La régularité de vos relations avec ce client", collection: ClientInfoCinq::REGULARITE %>
<%= f.input :experience , label: "Votre expérience de paiement", collection: ClientInfoCinq::EXPERIENCE %>
<%= f.input :facture_impayee , label: "Avez-vous à ce jour une facture restant impayée - méme partiellement - de plus de 15 jours ?", collection: ClientInfoCinq::OUINON %>
<%= f.submit 'Validez', class:'btn btn-primary mb-2', id:'btn-police' %>
<% end %>

<%
=begin%>
t.string "name"
t.string "address"
t.string "city"
t.string "zip_code"
t.string "num_identification"
t.string "terme_paiement"
t.string "anciennete"
t.string "regularite"
t.string "experience"
t.string "facture_impayee"
t.bigint "police_cinq_million_id", null: false
<%
=end%>
<%
=begin%>
 PAIEMENT

ANCIENNETE

REGULARITE

EXPERIENCE
OUINON
<%
=end%>
