<% if params["locale"] === "fr" %>
<% langage = :first %>
<% elsif params["locale"] === "en" %>
<% langage = :second %>
<% else %>
<% langage = :second %>
<% end %>

<%= simple_form_for([@police_cinq_million, @client_info_cinq]) do |f| %>
<div class="inline trois-enfant">
  <%= f.input :name , label: "#{t 'client_info_cinq.new.label1'}"%>
  <%= f.input :num_identification , label: "#{t 'client_info_cinq.new.label2'}" %>
</div>

<%= f.input :address , label: "#{t 'client_info_cinq.new.label3'}"%>
<div class="inline trois-enfant">
  <%= f.input :zip_code , label: "#{t 'client_info_cinq.new.label4'}"%>
  <%= f.input :city , label: "#{t 'client_info_cinq.new.label5'}"%>
</div>
<%= f.input :terme_paiement , label: "#{t 'client_info_cinq.new.label6'}", collection: ClientInfoCinq::PAIEMENT, label_method: langage, legend_tag: false , input_html: { class: 'form-select'} %>
<%= f.input :anciennete , label: "#{t 'client_info_cinq.new.label7'}", collection: ClientInfoCinq::ANCIENNETE, label_method: langage, legend_tag: false , input_html: { class: 'form-select'} %>
<%= f.input :regularite , label: "#{t 'client_info_cinq.new.label8'}", collection: ClientInfoCinq::REGULARITE, label_method: langage, legend_tag: false , input_html: { class: 'form-select'}%>
<%= f.input :experience , label: "#{t 'client_info_cinq.new.label9'}", collection: ClientInfoCinq::EXPERIENCE, label_method: langage, legend_tag: false , input_html: { class: 'form-select'} %>
<%= f.input :facture_impayee , label: "#{t 'client_info_cinq.new.label10'}", collection: ClientInfoCinq::OUINON , label_method: langage, legend_tag: false , input_html: { class: 'form-select'}%>
<%= f.submit "#{t 'button_valider'}", class:'btn btn-primary mb-2', id:'btn-police' %>
<% end %>

<%
=begin%>
t.string "name"
t.string "address"
t.string "city"
t.string "zip_code"
t.string "num_identification"
t.string "terme_paiement"
t.string "anciennete"
t.string "regularite"
t.string "experience"
t.string "facture_impayee"
t.bigint "police_cinq_million_id", null: false
<%
=end%>
