<!DOCTYPE html>
<html>
  <head>
    <title>InsureTrad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_user.status == 'expert' %>
      <%= render "shared/expert_navbar" %>
    <% elsif current_user.status == 'assure' %>
      <%= render "shared/assure_navbar" %>
    <% end %>
    <%= render 'shared/flashes' %>
    <% if current_user.status == 'expert'%>
      <div class=' d-flex'>
        <%= render "shared/expert_sidebar" %>
        <%= yield %>
      </div>
    <% elsif current_user.status == 'assure'  %>
      <div class=' d-flex'>
        <%= render "shared/assure_sidebar" %>
        <%= yield %>
      </div>
      <%= yield %>
    <% end %>
  </body>
</html>
